<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/header', {title: "Settings" }) %>
    </head>

    <body>
        <%- include('partials/nav') %>
        <div class="container pt-4">
            <%- include('partials/error') %>
            <form id="formSettings" method="POST">
                <% inputs.forEach(input => { %> <%-
                include('partials/form-input', {...input}) %> <% }) %>
                <button id="save" type="submit" class="btn btn-primary">
                    Save
                </button>
            </form>
        </div>

        <%- include('partials/footer') %>
        <script type="text/javascript">
            $('#formSettings').on('submit', (e) => {
                $('#save').html(`
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div>`)
            })
        </script>
    </body>
</html>
