<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/header', {title: "Home" }) %>
        <link rel="stylesheet" href="styles/home.css" />
    </head>

    <body>
        <%- include('partials/nav') %>

        <div class="container pt-4">
            <%- include('partials/error') %>
            <div class="home__head__container">
                <a href="/channel/add" role="button" class="btn btn-primary"
                    ><span class="bi bi-plus">Add channel</span></a
                >
            </div>
            <% channels.forEach(channel => { %> <%- include('partials/channel',
            {channel: channel}) %> <% }) %>
        </div>
        <%- include('partials/footer') %>
        <script type="text/javascript" src="js/home.js"></script>
    </body>
</html>
