<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/header', {title: "Settings" }) %>
    </head>

    <body>
        <%- include('partials/nav') %>
        <div class="container pt-4">
            <%- include('partials/error') %> <% if (!secureKey) { %>
            <form id="formSettings" method="POST" action="/settings/secure">
                <div class="form-group">
                    <label for="secure_key"> Secure Key </label>
                    <input
                        type="password"
                        class="form-control"
                        id="secure_key"
                        name="secure_key"
                        aria-describedby="secure_key_help"
                        minlength="5"
                    />
                    <small id="secure_key_help" class="form-text text-muted">
                        This is the key to encrypt the mysql credentials, this
                        has to be registered only the first time.
                    </small>
                </div>
                <button id="save" type="submit" class="btn btn-primary">
                    Unlock
                </button>
            </form>

            <% } else { %>
            <form id="formSettings" method="POST">
                <% inputs.forEach(input => { %> <%-
                include('partials/form-input', {...input}) %> <% }) %>
                <button id="save" type="submit" class="btn btn-primary">
                    Save
                </button>
            </form>
            <% } %>
        </div>

        <%- include('partials/footer') %>
        <script type="text/javascript">
            $('#formSettings').on('submit', (e) => {
                $('#save').html(`
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div>`)
            })
        </script>
    </body>
</html>
