<div class="d-flex align-items-center pb-5">
    <img
        src="<%= channel.image_url %> "
        alt="Channel image for <%= channel.name %> channel"
        class="img-thumbnail rounded-circle"
        style="width: 5rem; height: 5rem"
    />
    <div class="pl-4 flex-grow-1">
        <h5><%= channel.name %></h5>
        <small><%= channel.description %></small>
        <div class="progress">
            <div
                class="progress-bar bg-success"
                role="progressbar"
                channel="<%= channel.id %>"
                downloaded="<%= channel.totalDownloaded %>"
                total="<%= channel.totalPending +
                channel.totalDownloaded %>"
                style="
                    width: <%= 100 *
                        channel.totalDownloaded/(
                            channel.totalPending + channel.totalDownloaded
                        )
                        %>%;
                "
            >
                <%= channel.totalDownloaded %> / <%= channel.totalPending +
                channel.totalDownloaded %>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <button
            channel="<%= channel.id %>"
            type="button"
            class="refresh btn btn-success mx-2"
        >
            <span class="bi bi-arrow-clockwise"></span>
        </button>
        <button
            channel="<%= channel.id %>"
            type="button"
            class="delete btn btn-danger mx-2"
        >
            <span class="bi bi-trash"></span>
        </button>
    </div>
</div>
