<% var errors %> <% if (errors && errors.length > 0) { %> <%
errors.forEach((error,i) => { %>
<div class="alert alert-danger" role="alert">
    <%= error.short %> <% if(error.long) {%>
    <a href="#" data-toggle="modal" data-target="#error-modal-<%= i %>"
        >See more</a
    >
    <% }%>
</div>
<% if(error.long) {%>
<div
    class="modal fade"
    id="error-modal-<%= i %>"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= error.short %>
                <br />
                <%= error.long %>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<% }%> <% }) %> <% } %>
