<div class="form-group">
    <label for="<%= id %>"> <%= description %> </label>
    <input
        class="form-control"
        id="<%=id %>"
        type="<%= secure ? 'password' :
    'text' %>"
        name="<%= id %>"
        aria-describedby="<%= id %>_help"
        value="<%=
    value ? value: '' %>"
    />
    <small id="<%= id %>_help" class="form-text text-muted"><%- help %></small>
</div>
